<div class="container">
  <div class="row align-items-start">

    <div *ngIf="loading$" class="d-flex justify-content-center">
      <mat-spinner> </mat-spinner>
    </div>
    <div class="row align-items-start" *ngIf="!loading$">
      <mat-card *ngFor="let product of products$; let i = index" class=" col-3 card-body ">

        <div class="row">
          <span class="col-12 ">
            <div class="tilte-card">
              <h3>{{product.name}}</h3>
            </div>


          </span>
          <div class="row">

            <span class=" col-12 text-center ">
              <img class="card-picture" src={{product.imgUrl}} alt={{product.name}}>
            </span>
              <span class=" col-12 text-center ">
                {{product.price}}$
              </span>
          </div>
`
          <div class="row">
            <button class="col text-center" *ngIf="!infoAuth$" mat-icon-button (click)="openDialog(product)">
              <mat-icon>add_shopping_cart</mat-icon>
            </button>
          
            <app-manager-options class="col text-center" *ngIf="infoAuth$" [product]="product"></app-manager-options>
          </div>
        </div>
      </mat-card>
    </div>
  </div>


  <!-- <app-manager-options *ngIf="infoAuth$" [product]="product"></app-manager-options> -->
  <!-- <mat-card-actions >

  {{ product.quantity }}
</mat-card-actions> -->

  <!-- *ngFor="let product of products$; let i = index" -->
