.card-body {
  margin-right: 5px;
  margin-top: 10px;
  max-width: 280px;
  max-height: 300px;
}
.card-picture {
  max-width: 100px;
  padding-left: 2px;
}
.tilte-card {
  text-align: center;
  position: relative;
  top: 0px;
  left: 0;
}
