ul li {
  display: flex;
  justify-content: center;

  list-style-type: none;
  background-color: rgb(0 0 0 / 1%);

}

ul li a img:hover {

  background-color: rgb(0 0 0 / 15%);
  cursor: pointer;
  transition: .3s ease-in-out;

}
