.store--dashboard--flex {

  width: 100%;
  height: 100%;
  flex: 1
}

.flex--row {
  display: flex;
  flex-direction: column;
}

.flex--row>.app-catagories-size {
  display: flex;
  flex-direction: column;
  margin: 0;

  padding: 0 0.5rem;
}
