 .btn-position {
   max-width: 10rem;
 }

 .btn-position-item {
   display: flex;
   justify-content: center;
   flex-direction: row;
   gap: 0.5rem;
   font-size: 1.3rem;
   text-align: center;

   background-color: transparent;
   position: absolute;
   top: 0;
   right: 50%;
   left: 50%;
 }

 .Ibtn {
   outline: none;
   border: none;
   background: transparent;
   color: rgb(8, 3, 3);

 }

 :host-context(.size__btn__host),
 button {

   width: 5rem;
   height: 3rem;
   font-size: 4rem;
   text-align: center;

   display: flex;
   justify-content: center;
   align-items: center;
   background-color: red;

 }

 :host-context(.size__btn__host) , span{
  background-color: red;
 }