.btn-position .btn-position-item {
  display: flex;
  justify-content: center;
  flex-direction: row;

}


.Ibtn,
p {
  border: none;
  display: flex;
  font-size: 20px;
  padding: 5px;
  margin: 0 0.2rem;
  width: 1rem;
}

.increment,
.decrement {

  border: none;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.increment:hover,
.decrement:hover {

  background-color: rgb(206, 203, 203);
  border-radius: 2rem;
}
:host.blue-color {
  color: blue;
}
