.container-dashboard {
  display: flex;
  width: 100%;
  height: 800px;
}

.container-dashboard>.app-cart {
  
  width: 20%;
  height: auto;
}

.dashboard-router-outlet {
  
  width: 80%;
  flex: 1
}
