<div class="row text-center">
  <div class="col-lg-12">
    <span class="title">
      <p class="p-1">Login</p>
      <mat-icon>person_outline</mat-icon>
    </span>
  </div>
  <form [formGroup]="profileLogin" (ngSubmit)="handleSubmit()">
    <div class="col-lg-12 mt-4">
      <input
        formControlName="email"
        class="has-error"
        placeholder="Email"
        type="email"
        id=""
      />
    </div>
    <span
      *ngIf="emailError.invalid && (emailError.dirty || emailError.touched)"
      class="has-error"
    >
      <span *ngIf="emailError.errors?.['required']"> Email is required.</span>
      <span *ngIf="emailError.errors?.['email']">Only Email </span>
    </span>
    <div class="col-lg-12 form mt-4">
      <input
        formControlName="password"
        class="has-error"
        placeholder="password"
        type="password"
        id=""
      />
    </div>
    <span
      *ngIf="
        passwordError.invalid && (passwordError.dirty || passwordError.touched)
      "
      class="has-error"
    >
      <span *ngIf="passwordError.errors?.['required']"
        >Password is Required
      </span>
    </span>
    <div class="col-lg-12 mt-1">
      <button class="btn-form" type="submit" title=" submit">Sing In</button>
    </div>
  </form>
</div>
<div class="row text-center">
  <div class="col-lg-12 mt-1">
    <button
      class="btn-form register"
      type="submit"
      title=" submit"
      (click)="goToRegister()"
    >
      It is my first Time!
    </button>
  </div>
</div>
