<div class="login__container__flex">
  <div class="title__container__flex">
    <span class="title">
      <p class="p-1">כניסה</p>
      <mat-icon>person_outline</mat-icon>
    </span>
  </div>

  <form
    class="form__container__flex"
    [formGroup]="profileLogin"
    (ngSubmit)="handleSubmit()"
  >
    <span class="input__container__flex">
      <mat-form-field appearance="outline">
        <mat-label>דואר אלקטרוני</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          required
        />
        <mat-error *ngIf="emailError.invalid">{{
          getEmailErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </span>

    <span class="input__container__flex">
      <mat-form-field appearance="outline">
        <mat-label>הכנס סיסמה</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="password"
          required
        />
        <mat-error *ngIf="passwordError.invalid">{{
          getPasswordErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </span>

    <div class="button__submit__form">
      <button
        mat-raised-button
        color="warn"
        class="btn-form"
        type="submit"
        title=" submit"
        (click)="closeDialog()"
      >
        כניסה
      </button>
    </div>
  </form>
  <span class="go__to__register">
    <a mat-flat-button (click)="goToRegister()">הרשמה</a>
    <button mat-raised-button color="primary" class="btn-form" >
      ! זאת פעם ראשונה שלי פה
    </button>
  </span>
</div>

<!-- <span
*ngIf="emailError.invalid && (emailError.dirty || emailError.touched)"
class="has-error"
>
<span *ngIf="emailError.errors?.['required']"> Email is required.</span>
<span *ngIf="emailError.errors?.['email']">Only Email </span>
</span> -->

<!-- <span
*ngIf="
  passwordError.invalid && (passwordError.dirty || passwordError.touched)
"
class="has-error"
>
<span *ngIf="passwordError.errors?.['required']"
  >Password is Required
</span>
</span> -->
