.login__container__flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.title__container__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.title__container__flex>.title {
  display: flex;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 1.8rem;
  color: rgba(0, 102, 255, 0.932);
}
.form__container__flex{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.input__container__flex{
  display: flex;
  flex-direction: column;


}
.input__container__flex >input {
  outline: none;
  border: 1px solid blue ;
  border-radius: 0.3rem;
}
.button__submit__form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.4rem;
}

.go__to__register{
  display: flex;
  flex-direction: column;
}
