<mat-card class="h-100">  
    <img mat-card-image src="https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" alt="image">
    <mat-card-content fxLayoutAlign="center">Available products in our store - {{quantityOfProducts|json}}</mat-card-content>
    <mat-card-content fxLayoutAlign="center">Orders submitted in our store - {{quantityOfOrders|json}}</mat-card-content>
</mat-card>

<!-- <mat-card-content fxLayoutAlign="center">Available products in our store - {{ numOfProducts }}</mat-card-content>
    <mat-card-content fxLayoutAlign="center">Orders submitted in our store - {{ numOfOrders }}</mat-card-content> -->