<nav class="py-2 border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item">
        <a href="#" class="nav-link link-dark px-2 active" aria-current="page"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link link-dark px-2">Features</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link link-dark px-2">Pricing</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link link-dark px-2">FAQs</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link link-dark px-2">About</a>
      </li>
    </ul>
    <ul class="nav">
      <li class="nav-item">
        <a href="#" class="nav-link link-dark px-2">Login</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link link-dark px-2">Sign up</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fulfid">
  <header class="py-3 mb-4">
    <div class="d-flex flex-wrap justify-content-center">
      <app-categories  [categories]="categories"></app-categories>
    </div>
  </header>
  <div class="container ">
    <app-products class="row align-items-center"></app-products>
  </div>
</div>
