
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card>
        <div *ngIf="loading">
          <mat-spinner></mat-spinner>
        </div>
  
        <div *ngIf="!loading">
          <mat-error *ngIf="!showAlert.status">{{ showAlert.message }}</mat-error>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Email address</mat-label>
              <input
                formControlName="email"
                matInput
                placeholder="pat@example.com"
              />
              <mat-error *ngIf="email?.invalid">{{
                getErrorMessageEmail()
              }}</mat-error>
            </mat-form-field>
          </p>
          <div>
            <mat-form-field appearance="standard">
              <mat-label>Enter your password</mat-label>
              <input
                formControlName="password"
                matInput
                [type]="hide ? 'password' : 'text'"
              />
              <mat-error *ngIf="password?.invalid">{{
                getErrorMessagePassword()
              }}</mat-error>
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <mat-card-actions>
            <button
              mat-stroked-button
              [disabled]="!loginForm.valid"
              type="submit"
            >
              continue
            </button>
            <a mat-button routerLink="/register">Create New Account</a>
          </mat-card-actions>
        </div>
      </mat-card>
    </form>

  </mat-grid-tile>
</mat-grid-list>
