<div class="render__container" *ngIf="getCart">
  <div class="list__nav">
    <span><h4>תיאור פריט</h4></span>
    <span style="width: 22rem"> <h4>כמות</h4></span>
    <span> <h4>סה''כ</h4></span>
  </div>

  <div class="list_container" *ngFor="let item of getCart.items">
    <span class="img__item">
      <img src="{{ item.productRefId.imgUrl }}" />
      <p>{{ item.productRefId.description }}+{{ item.productRefId.name }}</p>
    </span>
    <span>
      <app-add-product-amount
        style="flex-grow: 2"
        [amount]="item.quantity"
        (quantityChange)="onQuantityChange($event, item)"
      ></app-add-product-amount>
    </span>
    <span>{{ item.quantity * item.productRefId.price| number }}</span>
  </div>
</div>
