.render__container {
  margin: 0;
  padding: 0;

  height: 100%;
  display: flex;
  width: 100%;
  padding: 1rem;
  flex-direction: column;
  background: #ffffff;
  gap: 1rem;
}

.list__nav,
.list_container {
  width: 100%;
  display: flex;

  /* gap: 33%; */
  justify-content: space-between;
  flex-direction: row-reverse;

}

.list__nav>* {
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
}


.list_container>.img__item {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  gap: 0.3rem
}

span>p {
  width: 18rem;

}

.list_container>.img__item>img {
  max-width: 5rem;
  max-height: 5rem;
}
