<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="registerFormContinue()">
    <mat-error *ngIf="!isRegisterBefore"> This ID is already used</mat-error>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Id Card</mat-label>
        <input
          formGroupName="idCard"
          formControlName="idCard"
          matInput
          placeholder="Id Card"
        />
        <mat-error *ngIf="firstStep['idCard'].hasError('required')"
          >Id card Required</mat-error
        >
        <mat-error *ngIf="firstStep['idCard'].hasError('minlength')"
          >Id card must be min 8 characters</mat-error
        >
        <mat-error *ngIf="firstStep['idCard'].hasError('pattern')"
          >Id card must be only numbers</mat-error
        >
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="standard">
        <mat-label>Email address</mat-label>
        <input formControlName="email" matInput placeholder="pat@example.com" />
        <mat-error *ngIf="firstStep['email'].hasError('required')"
          >Email Required</mat-error
        >
        <mat-error *ngIf="firstStep['email'].hasError('email')"
          >Must be a Email example israel@email.com</mat-error
        >
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="standard">
        <mat-label>Enter your password</mat-label>
        <input formControlName="password" matInput type="password" />

        <mat-error *ngIf="firstStep['password'].errors?.['required']"
          >Password is required.</mat-error
        >

        <mat-error *ngIf="firstStep['password'].errors?.['confirmedValidator']"
          >Password is Must be at least 7 digits
        </mat-error>
        <mat-error *ngIf="firstStep['password'].errors?.['minlength']"
          >Password is Must be at least 7 digits</mat-error
        >
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Confirm password</mat-label>
        <input formControlName="confirmPassword" matInput type="password" />

        <mat-error *ngIf="firstStep['confirmPassword'].errors?.['required']"
          >Password is required.</mat-error
        >
        <mat-error
          *ngIf="firstStep['confirmPassword'].errors?.['confirmedValidator']"
          >Password and Confirm Password must be match.</mat-error
        >
        <mat-error *ngIf="firstStep['confirmPassword'].errors?.['minlength']"
          >Password is Must be at least 7 digits
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="standard">
        <mat-label>First Name</mat-label>
        <input formControlName="firstName" matInput placeholder="First Name" />
        <mat-error *ngIf="secondStep['firstName'].hasError('required')"
          >First Name is required.</mat-error
        >
        <mat-error *ngIf="secondStep['firstName'].hasError('pattern')"
          >Only letters is allowed.</mat-error
        >
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Last Name</mat-label>
        <input
          formControlName="lastName"
          formGroupName="lastName"
          matInput
          placeholder="Last Name"
        />
        <mat-error *ngIf="secondStep['lastName'].hasError('required')"
          >Last Name is required.</mat-error
        >
        <mat-error *ngIf="secondStep['lastName'].hasError('pattern')"
          >Only letters is allowed.</mat-error
        >
      </mat-form-field>
    </p>
    <button mat-button type="submit">Let's Go</button>

  
  </form>
</div>
