<div *ngIf="cartData$ | async as cartData" class="row text-center mt-3">
  <mat-card class="col">
    <app-icon-info icon="shopping_basket"></app-icon-info>
  </mat-card>

  <mat-card class="col">
    <span matBadge="{{ cartData.items?.length }}" matBadgeOverlap="false">
      <app-icon-info icon="shopping_cart"></app-icon-info
    ></span>
  </mat-card>
  <div class="row mt-2">
    <mat-card class="col delete_outline">
      <app-icon-info
        icon="delete_outline"
        (click)="deleteAllItems(cartData._id)"
      ></app-icon-info>
    </mat-card>
  </div>
  <div class="row mt-2">
    <div class="col cartList">
      <app-lists [cartList]="cartData"></app-lists>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col cartList">
    <button mat-raised-button>Go To Payment</button>
    </div>
  </div>
</div>
