.cart--container-flex {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 0 auto;
  margin: 0;
  gap: 25px;
  margin: 0 7px;

}

.icons--container-flex {
  display: flex;

  justify-content: space-around;
  width: 100%;
  height: 5rem;
  align-items: center;

}

.icons--container-flex>.item--card-container,
.item--card-trash {
  width: 8rem;
  height: 5rem;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;

  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  background-color: #fff;
}

.list--button-container {
  display: flex;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  background-color: #fff;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 255, 0.664);
  padding: 10px 0;

}

.list--button-container>* {
  display: flex;
  flex-direction: column;

}

.cartList {

  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;

  overflow-x: hidden;
  width: auto;

  gap: 2rem;
  width: 100%;
  height: 100%;
}

app-go-to-payment {
  border: 2px solid black;
  width: 17rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1579f2;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
}