app-select-product {
  display: none;
  background-color: rgba(247, 229, 229, 0.5);
  font-size: 20px;
}

.showme {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.showhim:hover .showme {
  display: block;
  position: absolute;
  display: block;
  top: 40%;
  left: 20%;
  visibility: visible;
  opacity: 1;
}
