.card--container--flex {
  flex-direction: column;
  height: 60%;
  display: flex;
  margin: 0 auto;

}

h1 {
  font-size: 1.7rem;
  color: rgb(71, 14, 226);
  text-align: right;
  padding-top: 2rem;
  padding-right: 5rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem auto;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 1rem
}



.inputs-container {
  display: flex;
  gap: 3rem;

}

.mat-form-field {
  width: 20rem;

}

.btn-update {
  width: 10rem;

  align-self: center;
  align-items: center;
  text-align: center;
  border: none;

  padding: 1rem;
  background-color: rgba(10, 6, 240, 0.959);
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.7;
}
.btn-update:hover{
  opacity: 1;

}
