<mat-card class="row">
  <mat-card-title class="col-lg-12 text-center">Personal Details</mat-card-title>
  <mat-card-subtitle class="col-lg-12 ">
    <form class="row" [formGroup]="profileUpdateDetails" (ngSubmit)="handleSubmit()">
      <div class="col-lg-6">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input
            matInput
            placeholder="First Name.."
            formControlName="firstName"
            required

          />
          <mat-error *ngIf="firstName.invalid">{{getControlErrorMessage(firstName)}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            placeholder="First Name.."
            formControlName="lastName"
            required
          />
          <mat-error *ngIf="lastName.invalid">{{getControlErrorMessage(lastName)}}</mat-error>
        </mat-form-field>
      </div>
      <button class="col-lg-3" mat-raised-button type="submit" color="primary">Update</button>
    </form>
  </mat-card-subtitle>
</mat-card>
