.nav__check__out_continer{
  display: flex;
  flex-direction: column;
  gap: 23rem;
  align-items: center;
}

.container_btn > *{
  border: none;
  outline: none;
  padding: 1.3rem;
  background: #db1f26;
  width: 15rem;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.9;
}
.container_btn > *:hover{
  opacity: 1;
}
.nav--checkout--container--flex {

  width: 90%;
  height: 40%;
  margin: 0 auto;

  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  background-color: #fff !important;
}

.container-img {
  display: flex;
  justify-content: revert;
  align-items: center;
  width: 8rem;
  height: 2rem;
}

.container-img>span>img {
  width: 8rem;
  height: 2rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  align-items: center;

}

.container-img>.price {
  padding-top: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(12, 12, 212);
  padding-left: 2rem;
}


.container--options--flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  height: 80%;
  overflow: hidden;
}



.item--nav {


  display: flex;
  width: 15rem;

}

.item--nav>* {
  cursor: pointer;
}

.btn-icon {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  border: none;
  background: none;

}

.btn-icon:hover {
  opacity: 1;
  color: rgb(20, 20, 219);
  background-color: rgba(194, 199, 199, 0.178);
  border-radius: 0.5rem;

}

.change {
  font-size: medium;
  color: rgb(20, 20, 219);
  opacity: 0.;
  flex: auto;
}

.context {
  width: 5rem;
  padding-left: 0.5rem;
}
