.mat-card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

mat-card-title {
  text-align: center;
  color: blue;
  font-size: 1.8rem;
}

form {
  display: flex;
  flex-direction: column;
}

form>.form-container {
  width: 80%;
  height: 80%;

  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

button {
  align-self: center;
  text-align: center;
}
