<div class="menu-container ">
  <div class="col-lg-12">
    <button class="btn-icon" routerLink="../order/">
      <span class="context">Rouven</span>
      <app-icon-info icon="person_outline"> </app-icon-info>
    </button>
  </div>
  <div class="col-lg-12">
    <button class="btn-icon" routerLink="../order/addresses">
      <span class="context">Address management</span>
      <app-icon-info icon="add_location"> </app-icon-info>
    </button>
  </div>
  <div class="col-lg-12">
    <button class="btn-icon" routerLink="../order/payments">
      <span class="context">Payment</span>
      <app-icon-info icon="payment"> </app-icon-info>
    </button>
  </div>
  <div class="col-lg-12">
    <button class="btn-icon" routerLink="../order/orders">
      <span class="context">My Orders</span>
      <app-icon-info icon="update"> </app-icon-info>
    </button>
  </div>
  <router-outlet></router-outlet>
</div>

