<div class="container--list--cart--flex">
  <div
    *ngIf="cartList.items.length; else empty"
    class="flex-direction-container"
  >
    <div class="cart--list--items" *ngFor="let item of cartList.items">
      <div class="item--container--flex">
        <span class="button">
          <button
            class="deleteItem"
            (click)="deleteOnItem(cartList._id, item._id)"
          >
            X
          </button>
        </span>

        <div class="single--item--container">
          <span class="item--details">
            <span class="quantity">
              {{
                item.quantity * item.productRefId.price
                  | number: "1.0-1"
                  | currency
              }}
            </span>
            <span class="name-item">
              {{ item.productRefId.name }}
            </span>
            <span>
              <img alt="" src="{{ item.productRefId.imgUrl }}" />
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <ng-template #empty>
    <img class="svg" src="../../../../../assets/shopping-bag-svgrepo-com.svg" />
    <h1>Your bag is empty... <br />Go shopping!</h1>
  </ng-template>
</div>

