<mat-card class="card">
  <form [formGroup]="orderFormHandel">
    <p>
      <mat-form-field appearance="standard">
        <mat-label>City</mat-label>
        <mat-select formControlName="city">

          <mat-option *ngFor="let city of cities | async" [value]="city">{{
                        city
                        }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>address</mat-label>
        <input formControlName="address" matInput placeholder="address" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error>{{handleError("address")}}</mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="example-full-width" appearance="standard">
        <mat-label>Choose a date</mat-label>
        <input formControlName="date" matInput [matDatepickerFilter]="myFilter"    [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Credit Card</mat-label>
        <input min=16 max=16 formControlName="creditCard" matInput placeholder="Placeholder" type="text" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error>{{handleError("creditCard")}}</mat-error>
      </mat-form-field>
    </p>
    <p>
      <button [disabled]="orderFormHandel.invalid" type="submit" (click)="onSave()" mat-fab color="primary"
        aria-label="Example icon button with a delete icon">
        <mat-icon>save_alt</mat-icon>
      </button>
    </p>
  </form>
</mat-card>
