<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" [(opened)]="opened">
    <div *ngIf="isAdmin"></div>
    <div *ngIf="!isAdmin">
      <app-navCart></app-navCart>
    </div>
  </mat-drawer>
  <div *ngIf=" loading$">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="container-fulfid">
    <div class="m-7">
      <nav *ngIf="!product.value" mat-tab-nav-bar>
        <p *ngIf="isAdmin"><app-form-new-product></app-form-new-product></p>
        <p mat-tab-link *ngFor="let c of categories$ | async" routerLink="/store/category/{{ c._id }}"
          routerLinkActive="link">
          {{ c.nameCategory }}
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Search product ...</mat-label>
            <input #product matInput name="product" placeholder="Placeholder" />

            <button (click)="SearchProductByName(product.value)" mat-icon-button matSuffix>
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </p>
      </nav>
    </div>

    <div class="main">

      <div>
        <app-products [loading$]="loading$"></app-products>
      </div>
    </div>
  </div>
</mat-drawer-container>
