/* img {    
  height: 200px; 
  width: 200px;
  justify-self: center;
} */

.example-container {
position: absolute;
top: 150px;
bottom: 0;
left: 0;
right: 0;
}

.example-sidenav-content {
display: flex;
height: 100%;
align-items: center;
justify-content: center;
}

.example-sidenav {
padding: 20px;
}



.my-card {
transition: transform 1s;
display: grid;
}

.my-card:hover {
transform: translateY(-10px);
}

.result-message {
grid-column: 1 / 5;
color: #8bc34a;
}

@media only screen and (max-width: 981px) {
.my-card {
  transition: transform 1s;
  display: grid;
}
.my-card:hover {
  transform: translateY(0px);
}
}