<!-- <div>
  <mat-toolbar>
    <div class="row">
      <div class="col">
        <span>My Application</span>
      </div>
      <div class="col">
        <button mat-button type="button" (click)="openDialog()">
          Login
        </button>
      </div>
    </div>
  </mat-toolbar>
</div> -->
<div class="container--flex">
  <nav class="navbar--container">
    <ul>
      <li>
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <app-links-nav></app-links-nav>
        </mat-menu>
      </li>
      <li><a mat-button href="#">About</a></li>
      <li><a mat-button href="#">Contact</a></li>
    </ul>
    <div>
      <img
        src="https://www.shoppster.com/assets/media/international-page/shoppsterlogo.jpg"
      />
    </div>
  </nav>
</div>
