<div class="box-2" *ngIf="userData as user">
  <div class="item--nav">
    <button class="btn-icon" routerLink="/dashboard/order">
      <span class="context">{{user.firstName}}</span>
      <app-icon-info icon="person_outline"> </app-icon-info>
    </button>
  </div>
  <div class="item--nav">
    <button class="btn-icon" routerLink="/dashboard/order/addresses">
      <span class="context">ניהול כתובות</span>
      <app-icon-info icon="add_location"> </app-icon-info>
    </button>
  </div>
  <div class="item--nav">
    <button class="btn-icon" routerLink="/dashboard/order/payments">
      <span class="context">תשלום</span>
      <app-icon-info icon="payment"> </app-icon-info>
    </button>
  </div>
  <div class="item--nav">
    <button class="btn-icon" routerLink="/dashboard/order/orders">
      <span class="context">הזמנות שלי</span>
      <app-icon-info icon="update"> </app-icon-info>
    </button>
  </div>
  <div class="item--nav">
    <button class="btn-icon"(click)="logOut()" routerLink="/dashboard/store">
      <span class="context">התנקתק/י</span>
      <app-icon-info icon="exit_to_app"> </app-icon-info>
    </button>
  </div>
</div>
