<div class="container">
  <div class="row">
    <div class="col
     justify-content-center" style="width: 25rem;">
      <div class="card-body">
        <h2 class="card-title">Hi and welcome back {{getCustomerDetails.firstName}}
          {{getCustomerDetails.lastName}}!</h2>
        <h3 class="card-subtitle mb-2 text-muted"> You have an open cart from {{lastCartDate|date}}</h3>
        <mat-divider></mat-divider>
        <span class="card-button">
          <button mat-raised-button (click)="getEmptyCart()">Get empty Cart</button>

          <button mat-raised-button (click)="onPreviousCart()"> Continue with previous cart </button>
        </span>
      </div>
    </div>

  </div>

</div>
