<div class="container--products--flex">
  <div class="container--item" *ngFor="let product of fetchProducts$ | async">
    <div class="show-btn card-item">
      <div
        class="img-warp"
        [ngStyle]="{
          background: 'url(' + product.imgUrl + ' )',
          width: '230px',
          height: '250px',
          backgroundRepeat: 'no-repeat',
          backgroundSize: 'contain',
          backgroundPosition: '50%'
        }"
      ></div>

      <div class="app-add-product-amount">
        <app-add-product-amount
          [ngClass]="{ size__btn__host: product.quantity <0 }"
          [amount]="product.quantity || 0"
          (quantityChange)="onQuantityChange($event, product)"
        >
        </app-add-product-amount>
      </div>
      <span [ngStyle]="{ opacity: '1' }" class="container--text"
        >{{ product.name }} {{ product.description }}</span
      >
      <br />
      <span class="container--text"
        >price {{ product.price.toFixed(2) | currency }}</span
      >
    </div>
  </div>
</div>
