img {
  display: flex;
  width: 250px;
  height: 250px;
  background-size: cover;
  margin: auto;
}





.container--products--flex {
  width: auto;
  height: 100%;
  display: flex;
  gap: 2rem;


  padding: 1rem;
}

.container--products--flex>.container--item {
  padding-top: 2rem;
  display: flex;
  margin: 0;

  width:20rem;
  justify-content: center;
  background-color: #fff;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  background-color: #fff;
}

.card-item {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  align-items: center;
  justify-content: baseline;
}
