<div class="container--products--flex">
  <div class="container--item" *ngFor="let product of fetchProducts$ | async">
    <div class="show-btn card-item">
      <span class="">
        <img
          class="col-md-12"
          mat-card-image
          src="{{ product.imgUrl }}"
          alt="{{ product.imgUrl }}"
      /></span>

      <span>
        <app-add-product-amount
          [class]="'h'"
          [amount]="product.quantity || 0"
          (quantityChange)="onQuantityChange($event, product)"
        >
        </app-add-product-amount>
      </span>
      <span
        >{{ product.name }} <br />
        {{ product.description }}</span
      >
      <br />
      <span>{{ product.price.toFixed(2) | currency }}</span>
    </div>
  </div>
</div>
