<div class="container--products--flex">
  <div class="container--item w3-center w3-animate-opacity" *ngFor="let product of fetchProducts$ | async">
    <div class="show-btn card-item">
      <span class="">
        <img
          class="col-md-12"
          mat-card-image
          src="{{ product.imgUrl }}"
          alt="{{ product.imgUrl }}"
      /></span>

      <span class="container--text">
        <app-add-product-amount
          [class]="' container--text '"
          [amount]="product.quantity || 0"
          (quantityChange)="onQuantityChange($event, product)"
        >
        </app-add-product-amount>
      </span>
      <span class="container--text"
        >{{ product.name }} {{ product.description }}</span
      >
      <br />
      <span class="container--text"
        >price {{ product.price.toFixed(2) | currency }}</span
      >
    </div>
  </div>
</div>
