img {
  display: flex;
  width: 145px;
  height: 145px;
  background-size: cover;
  margin: auto;
}


@keyframes mymove {
  from {
    top: 200px;
  }

  to {
    top: 100px;
  }
}



.show-btn .showme {
  position: relative;

}

.show-btn:hover .showme {
  position: absolute;
  display: block;
}
.btn-position{
  background-color: red;
}
