.img-warp {
  width: 228px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}


.container--products--flex {
  width: auto;

  display: flex;
  gap: 2rem;

  padding: 0.7rem 0.9rem;

}

.container--products--flex>.container--item {
  position: relative;
  padding-top: 2rem;
  display: flex;
  margin: 0;

  width: 20rem;
  justify-content: center;
  background-color: #fff;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  background-color: #fff;
  opacity: 0.9;
}

.card-item {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  align-items: center;
  justify-content: baseline;
}

.container--products--flex>.container--item:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.336);
  opacity: 1;
}

.container--text {

  text-align: left;
  font-size: 18px;
  font-weight: 400;
}

.app-add-product-amount {
  color: rgb(15, 15, 15);
  background-color: transparent;
  position: absolute;
  z-index: 2;

  top: 40%;
  z-index: 99999;
}

.size__btn__host {
  font-size: 1.5rem;
}

 .size__btn__host {
  visibility: hidden;
  display: none;
}

.show-btn:hover .size__btn__host {
  visibility: visible;
  display: block;
  font-size: larger;

}