.container--flex {
  display: flex;
  flex-direction: column;
  gap: 3.3rem;
  align-items: center;
  text-align: right;
  height: auto;
  text-align: center;
  align-self: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;


}

.form__group_container__flex {
  display: flex;
  flex-direction: column;
  width: auto;

}

.input__group_container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-content: stretch;
  align-items: center;
  justify-content: space-between;
  text-align: right;
  gap: 0.3rem;
  height: 4rem;
}

.input__group_container>label {
  font-size: 1.1rem;
}

.input__group_container>input {
  border: none;
  border: 2px solid rgba(107, 107, 107, 0.644);
  transition-property: border;
  transition-duration: 1s;
  width: 14rem;
  outline: none;
  border-radius: 0.5rem;
  height: 2.5rem;
}

.input__group_container>input:focus {

  outline: none;
  width: 14rem;
  border: 2px solid rgba(0, 17, 255, 0.979);
}


form>button {
  border: none;
  background-color: rgba(137, 43, 226, 0.637);
  color: #fff;
  width: 9rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin: 1rem auto
}
