<!-- <mat-tab-group class="container">
    <mat-tab *ngFor="let category of categories | async" class="row">
      <ng-template mat-tab-label  class="col-md-2">
        <img  src="/assets/icons/{{ category.icon }}.png"  (click)="onSelectCategory(category)"/>
      </ng-template>
    </mat-tab>
  </mat-tab-group> -->

<div class="body">
  <div class="menu_wrapper">
    <div class="navbar row" id="navbar">
      <div *ngFor="let category of categories | async" class="col-md-2 m-2">
        <a
          (click)="onSelectCategory(category)"
          routerLink="category/{{ category._id }}"
          class="btn-category"
          ><i routerLinkActive="active1">
            <img
              src="/assets/icons/{{ category.icon }}.png"
              (click)="onSelectCategory(category)"
            />
          </i>
        </a>
      </div>
    </div>
  </div>
</div>

