<mat-drawer-container class="example-container container-fluid" autosize>
  <mat-drawer #drawer class="example-sidenav row" mode="side" opened>
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>
  <button type="button" mat-button (click)="drawer.toggle()">
    Toggle sidenav
  </button>
  <app-top-nav></app-top-nav>

</mat-drawer-container>
