input {
  border: none;
  min-height: 45px;
  border-bottom: 1px solid #5d5d5d;
  font-size: 18px;
  background: none;
  text-align: right;
  width: 100%;
  display: block;
}

input:focus {

  color: #5d5d5d;

  padding: 20px 0 0;


  border-radius: 0;





}
